<nav class="xebest-navbar xebest-is-primary">
  <div class="xebest-navbar-back" data-bind="click: back">
    <img src="css/images/back.png">
  </div>

  <div class="xebest-navbar-title">运输商品设置</div>
</nav>

<div class="xebest-container">
  <div class="xebest-commodity-display">
    <div class="xebest-commodity-display-value">挪威三文鱼</div>
    <div class="xebest-commodity-display-label">当前运输商品</div>
  </div>

  <div class="xebest-commodity-config">
    <div class="field has-addons has-addons-centered">
      <p class="control is-expanded">
        <input class="input is-fullwidth" type="text">
      </p>
      <p class="control">
        <span class="button xebest-commodity-config-button">设置</span>
      </p>
    </div>

    <div class="xebest-commodity-config-options">
      <div class="field">
        <div class="pretty p-default p-round p-thick is-block xebest-radio-item">
          <input type="radio" name="commodity" value="挪威三文鱼" />
          <div class="state p-primary-o">
            <label>挪威三文鱼</label>
          </div>
        </div>
        <div class="pretty p-default p-round p-thick is-block xebest-radio-item">
          <input type="radio" name="commodity" value="冷冻猪肋排" />
          <div class="state p-primary-o">
            <label>冷冻猪肋排</label>
          </div>
        </div>
        <div class="pretty p-default p-round p-thick is-block xebest-radio-item">
          <input type="radio" name="commodity" value="冷冻牛腩" />
          <div class="state p-primary-o">
            <label>冷冻牛腩</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>