<nav class="xebest-navbar xebest-is-primary">
  <div class="xebest-navbar-avatar" data-bind="click: toggleDrawer">
    <img src="css/images/avatar.png">
  </div>

  <img class="xebest-navbar-logo" src="css/images/logo.png">
</nav>

<div class="xebest-container">
  <img src="css/images/home_banner.jpg">

  <div class="xebest-tip has-text-white">食品安全温度提示</div>

  <div class="xebest-pie-container" data-bind="foreach: commodityGroups">
    <div class="xebest-pie-row">
      <div class="columns is-mobile" data-bind="foreach: {data: commodities, as: 'commodity'}">
        <p data-bind="text: console.log($root, $parent, $data)"></p>
        <div class="column is-one-third" data-bind="click: $parents[1].loadPage, attr: {'data-commodity-id': commodity.commodityId, debug: $parent}">
          <div class="xebest-pie" data-bind="css: {'xebest-is-critical': commodity.status === 'critical', 'xebest-is-warning': commodity.status === 'warning', 'xebest-is-normal': commodity.status === 'normal'}">
            <div class="xebest-pie-temperature" data-bind="text: commodity.temperature + ' ℃'"></div>
            <div class="xebest-pie-description" data-bind="text: commodity.statusContent"></div>
          </div>
          <div class="xebest-pie-name" data-bind="text: commodity.name"></div>
        </div>
      </div>
    </div>
  </div>
</div>