<nav class="xebest-navbar xebest-is-primary">
  <div class="xebest-navbar-avatar" data-bind="click: toggleDrawer">
    <img src="css/images/avatar.png">
  </div>

  <img class="xebest-navbar-logo" src="css/images/logo.png">
</nav>

<div class="xebest-container">
  <img src="css/images/home_banner.jpg">

  <div class="xebest-tip has-text-white">食品安全温度提示</div>

  <div class="xebest-pie-container">
    <div class="xebest-pie-row">
      <div class="columns is-mobile">
        <div class="column is-one-third" data-key="foobar" data-bind="click: loadPage">
          <div class="xebest-pie xebest-is-critical">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">高于安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-critical">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">高于安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-critical">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">高于安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
      </div>
    </div>

    <div class="xebest-pie-row">
      <div class="columns is-mobile">
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-warning">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">高于安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-warning">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">高于安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-warning">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">高于安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
      </div>
    </div>

    <div class="xebest-pie-row">
      <div class="columns is-mobile">
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-normal">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-normal">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
        <div class="column is-one-third">
          <div class="xebest-pie xebest-is-normal">
            <div class="xebest-pie-temperature">-4 ℃</div>
            <div class="xebest-pie-description">安全温度</div>
          </div>
          <div class="xebest-pie-name">冷冻猪肋排</div>
        </div>
      </div>
    </div>
  </div>
</div>