<nav class="xebest-navbar xebest-is-primary">
  <div class="xebest-navbar-back" data-bind="click: back">
    <img src="css/images/back.png">
  </div>

  <div class="xebest-navbar-title">区块链状态</div>
</nav>

<div class="xebest-container">
  <dir class="xebest-status-container">
    <div class="is-size-5">Oracle区块链云服务信息</div>
    <hr class="xebest-divider">
    <div class="level">
      <div class="level-left">
        <div class="level-item is-size-6">显示区块链云服务当前的运行状态，包括服务器情况、区块情况等</div>
      </div>
    </div>

    <div class="is-size-5">区块链节点信息</div>
    <hr class="xebest-divider">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item is-size-6">运行的节点数</div>
      </div>
      <div class="level-left">
        <div class="level-item is-size-6 xebest-is-status-ok" data-bind="text: nodesRunning"></div>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item is-size-6">停止的节点数</div>
      </div>
      <div class="level-left">
        <div class="level-item is-size-6 xebest-is-status-notice" data-bind="text: nodesStopped"></div>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item is-size-6">健康状态</div>
      </div>
      <div class="level-left">
        <div class="level-item is-size-6 xebest-is-status-ok" data-bind="text: healthPercent"></div>
      </div>
    </div>

    <div class="is-size-5">超级账本信息</div>
    <hr class="xebest-divider">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item is-size-6">区块数</div>
      </div>
      <div class="level-left">
        <div class="level-item is-size-6 xebest-is-status-ok" data-bind="text: blocks"></div>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item is-size-6">交易活动</div>
      </div>
      <div class="level-left">
        <div class="level-item is-size-6 xebest-is-status-ok" data-bind="text: transactions"></div>
      </div>
    </div>
  </dir>
</div>