<nav class="xebest-navbar xebest-is-primary">
  <div class="xebest-navbar-back" data-bind="click: back">
    <img src="css/images/back.png">
  </div>

  <div class="xebest-navbar-title">温度阈值设置</div>
</nav>

<div class="xebest-container">
  <div class="xebest-threshold-display">
    <div class="xebest-threshold-display-value">-18 ℃</div>
    <div class="xebest-threshold-display-label">当前预警温度</div>
  </div>

  <div class="xebest-threshold-config">
    <div class="field has-addons has-addons-centered">
      <p class="control">
        <span class="button xebest-threshold-config-label">℃</span>
      </p>
      <p class="control">
        <input class="input" type="text">
      </p>
      <p class="control">
        <span class="button xebest-threshold-config-button">设置</span>
      </p>
    </div>
  </div>
</div>