body {
    background-color: #030f20;
    color: white;
}

oj-module {
    height: 100vh;
}

.xebest-navbar {
    position: fixed;
    z-index: 30;
    width: 100%;
    top: 0;
}

.xebest-container {
    position: relative;
    padding-top: 3.25rem;
    height: 100%;
}

.xebest-flex-container {
    position: relative;
    padding-top: 3.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.xebest-navbar.xebest-is-primary {
    height: 3.25rem;
    background-color: #041933;
}

.xebest-navbar .xebest-navbar-avatar {
    position: absolute;
    left: 0.35rem;
    top: 0.35rem;
}

.xebest-navbar .xebest-navbar-avatar img {
    height: 2.55rem;
    width: auto;
}

.xebest-navbar .xebest-navbar-back {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.xebest-navbar .xebest-navbar-back img {
    height: 1.25rem;
    width: auto;
}

.xebest-navbar .xebest-navbar-logo {
    display: block;
    height: 3.25rem;
    width: auto;
    margin: 0 auto;
    padding: 0.8rem 0;
}

.xebest-navbar .xebest-navbar-title {
    text-align: center;
    line-height: 3.25rem;
    width: auto;
    margin: 0 auto;
    font-size: 1.2rem;
}

.xebest-tip {
    padding: 0.8rem;
    font-size: 1rem;
}

.xebest-pie-container {
    padding: 1.2rem;
}

.xebest-pie-row {
    padding-bottom: 15px;
}

.xebest-pie {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.xebest-pie-name {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.xebest-pie.xebest-is-critical {
    background-color: #f75e13;
    border: 1px solid #f57c3f;
    box-shadow: 0 0 10px 4px #9ed0f1;
}

.xebest-pie.xebest-is-warning {
    background-color: #f79312;
    border: 1px solid #f1a745;
    box-shadow: 0 0 10px 4px #2773a8;
}

.xebest-pie.xebest-is-normal {
    background-color: #18b4e0;
    border: 1px solid #52cbec;
    box-shadow: 0 0 10px 4px #2773a8;
}

.xebest-pie .xebest-pie-temperature {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 20%;
}

.xebest-pie .xebest-pie-description {
    display: block;
    text-align: center;
    font-size: 0.65rem;
    padding-top: 0.1rem;
}

.xebest-current-temperature {
    position: relative;
    height: 150px;
}

.xebest-current-temperature img {
    height: 150px;
    width: 100%;
}

.xebest-current-temperature .xebest-temperature-pie {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #23add5;
    border-radius: 50%;
    background-color: #ececec;
    top: 25px;
    left: 50%;
    margin-left: -50px;
    box-shadow: 0 0 20px #89d9f1;
}

.xebest-current-temperature .xebest-temperature-pie .xebest-temperature-value {
    text-align: center;
    color: #fc412b;
    font-size: 1.8rem;
    padding-top: 15px;
}

.xebest-current-temperature .xebest-temperature-pie .xebest-temperature-label {
    text-align: center;
    color: #fc412b;
    font-size: 0.9rem;
}

.xebest-page-tab {
    position: relative;
    background-color: #072a5b;
    height: 65px;
    text-align: center;
    border-left: 1px solid #295694;
    color: #c6d6e8;
    font-size: 1.2rem;
    border-bottom: 4px solid #295694;
}

.xebest-page-tab .xebest-tab-content {
    line-height: 60px;
}

.xebest-page-tab.xebest-highlight {
    color: #0ed0fe;
    border-bottom: 4px solid #0ed0f0;
}

.xebest-page-tab .xebest-highlight-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: auto;
    margin-left: -6px;
}

.xebest-label {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

.columns.xebest-clear-margin-bottom {
    margin-bottom: 0!important;
}

.xebest-timeline {
    overflow: hidden;
    margin: 1rem 20px;
}

.xebest-timeline .xebest-timeline-container {
    position: relative;
    margin: 0 auto;
    width: 85%;
}

.xebest-timeline .xebest-timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 13px;
    height: 100%;
    width: 4px;
    background: #376f95;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block {
    position: relative;
    margin: 2.5em 0;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block:first-child {
    margin-top: 0;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block:last-child {
    margin-bottom: 0;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block .xebest-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0ed0fe;
    box-shadow: 0 0 0 4px #376f95, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    margin-top: 0.8em;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block.xebest-is-critical .xebest-timeline-icon {
    background-color: #f95d04;
    box-shadow: 0 0 0 4px #fdc5a1, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block.xebest-is-critical .xebest-timeline-content .xebest-timeline-content-title {
    color: #f95d04;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block.xebest-is-critical .xebest-timeline-content .xebest-timeline-content-body {
    color: #f95d04;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block.xebest-is-warning .xebest-timeline-icon {
    background-color: #f95d04;
    box-shadow: 0 0 0 4px #fdc5a1, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block.xebest-is-warning .xebest-timeline-content .xebest-timeline-content-title {
    color: #f95d04;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block.xebest-is-warning .xebest-timeline-content .xebest-timeline-content-body {
    color: #f95d04;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block .xebest-timeline-icon img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block .xebest-timeline-content {
    position: relative;
    margin-left: 60px;
    border-radius: 0.25em;
    padding: 0 0.5em;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block .xebest-timeline-content .xebest-timeline-content-title {
    font-size: 1.2em;
}

.xebest-timeline .xebest-timeline-container .xebest-timeline-block .xebest-timeline-content .xebest-timeline-content-body {
    font-size: 1.1em;
    color: #8a8a8a;
}

.xebest-threshold-display {
    height: 120px;
}

.xebest-threshold-display .xebest-threshold-display-value {
    padding-top: 20px;
    text-align: center;
    font-size: 2.2rem;
    color: #f95d04;
}

.xebest-threshold-display .xebest-threshold-display-label {
    text-align: center;
    font-size: 1rem;
}

.xebest-threshold-config .xebest-threshold-config-label {
    background-color: #efefef;
    border: none;
}

.button.xebest-submit-button {
    background-color: #0ed0fe;
    color: white;
    border: none;
}

.xebest-commodity-display {
    height: 120px;
}

.xebest-commodity-display .xebest-commodity-display-value {
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: #f95d04;
}

.xebest-commodity-display .xebest-commodity-display-label {
    text-align: center;
    font-size: 1rem;
}

.xebest-commodity-config {
    margin: 0 30px;
}

.xebest-commodity-config-options {
    margin-top: 45px;
}

.xebest-radio-item {
    margin: 28px 0;
    font-size: 1rem;
}
    
.xebest-radio-item input:checked~.state.p-primary-o label:before {
    border-color: #0ed0fe;
}
    
.xebest-radio-item input:checked~.state.p-primary-o label:after {
    background-color: #0ed0fe!important;
}

.xebest-settings-container {
    margin: 20px;
}

#chart {
    background-color: #123455;
}

.xebest-logistics {
    width: 100%;
    flex: 1;
    overflow: auto;
    background-image: url('images/map_bg.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.xebest-settings-route {
    padding-bottom: 10px;
}

.xebest-drawer-header {
    height: 80px;
    background-color: #19468e;
}

.xebest-drawer-header .xebest-drawer-avatar {
    position: absolute;
    left: 30px;
    top: 15px;
}

.xebest-drawer-header .xebest-drawer-avatar img {
    height: 50px;
    width: auto;
}

.xebest-drawer-header .xebest-drawer-username {
    position: absolute;
    line-height: 80px;
    font-size: 22px;
    left: 100px;
}

.xebest-status-container {
    padding: 20px;
}

.xebest-divider {
    margin: 12px 0;
    background-color: #123455;
}

.xebest-is-status-ok {
    color: #00ff00;
    font-weight: bold;
}

.xebest-is-status-notice {
    color: #ff0000;
    font-weight: bold;
}
